<!DOCTYPE html>
<html lang="en" ng-app="myapp">




<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .hh {
            text-align: center;
        }

        .ss {

            display: block;
            margin: 0 auto;
            padding: 5px;

            font-size: 15px;

            width: 200px;

        }


        .yap-true {
            text-decoration: line-through;

            color: red;

        }

        ul li {
            font-size: 20px;
            font-weight: bold;
        }



        span[contenteditable="true"] {

            background-color: rgb(218, 218, 218);
            padding: 3px;

        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script>
        var app = angular.module('myapp', []);
        app.controller('mycont', function ($scope) {
            $scope.dizi = [];

            //LocalStorage oluşturuyoruz. Eğer boş değilse dizimize storageyi aktarıyoruz.

            var taskData = localStorage['gorevListesi'];
            if (taskData !== undefined) {
                $scope.dizi = JSON.parse(taskData);
            }

            $scope.eylem = function () {

                if (event.which == 13) {
                    $scope.gorevEkle();
                    $scope.icerik = "";
                }
            };
            $scope.gorevEkle = function () {
                if ($scope.icerik) {
                    $scope.dizi.push({ 'mesaj': $scope.icerik, 'durum': false });

                    //Eklenilen Görevi gözardı etmemek için localStorageyi güncelliyoruz.
                    localStorage['gorevListesi'] = JSON.stringify($scope.dizi);
                    console.log(localStorage);

                }
            };
            $scope.editle = function (mesaj) {



                //Check e tıklayıncada localStorage'ye kayıt sağlansın.
                if (mesaj == true || mesaj == false) {
                    localStorage['gorevListesi'] = JSON.stringify($scope.dizi);

                }
                //event.target Metoduyla yenı ısmın alıyoruz.
                //Sonundada diziyi guncelleyecegız.
                else {
                    var goreviAl = $scope.dizi.find(x => x.mesaj == mesaj);
                    goreviAl.mesaj = event.target.innerText;
                    localStorage['gorevListesi'] = JSON.stringify($scope.dizi);

                    event.target.contentEditable = event.target.contentEditable == 'false' ? 'true' : 'false';

                }

            };

            $scope.enterAgain = function (mesaj) {
                if (event.which == 13) {
                    $scope.editle(mesaj);
                }
            };
            //FARE UZERINDEN GITTIGINDE NORMALE DONSUN
            // $scope.mouseLeave = function () {
            //     if (event.target.contentEditable) {
            //         event.target.contentEditable = "false";
            //     }
            // }
        });

    </script>

</head>

<body ng-controller="mycont">
    <h2 class="hh">Görev Ekle</h2>
   
    <input ng-keyup="eylem()" placeholder="Eklemek için Entera bas" ng-model="icerik" class="ss" type="text">
    <h4>(Güncellemek istediğin göreve iki kez tıkla ve güncelleme işleminin sonunda enter'a bas</h4>
    <hr>
    <ul>


        <!-- BURADAKI => track by $index  => ngRepeat:dupes
Duplicate Key in Repeater HATASINI KALDIRDI !!!! -->
        <li class="yap-{{item.durum}}" ng-repeat="item in dizi track by $index">
            <input type="checkbox" ng-change="editle(item.durum)" ng-model="item.durum" name="" id="">
            <span contenteditable="false" ng-mouseleave="mouseLeave()" ng-keydown="enterAgain(item.mesaj)" ng-dblclick="editle(item.mesaj)"
                ng-model="item.mesaj">{{item.mesaj}}</span>
    </ul>


</body>

</html>